body {

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.header {
    background-color: blueviolet;
    padding: 5px 10px 5px;
    border-radius: 5px;
    margin: 5px 5px 5px;
    color: white;
}

.content {
    width: 500px;
    background-color: aquamarine;
    padding: 5px 10px 5px;
    border-radius: 5px;
    margin: 5px 5px 5px;
}

.footer {
    background-color: blanchedalmond;
    padding: 5px 10px 5px;
    border-radius: 5px;
    margin: 5px 5px 5px;

}

